In [1]:
library(tidyverse)
library(caret)

Loading tidyverse: ggplot2
Loading tidyverse: tibble
Loading tidyverse: tidyr
Loading tidyverse: readr
Loading tidyverse: purrr
Loading tidyverse: dplyr
Conflicts with tidy packages ---------------------------------------------------
filter(): dplyr, stats
lag():    dplyr, stats
Loading required package: lattice

Attaching package: ‘caret’

The following object is masked from ‘package:purrr’:

    lift

In [2]:
student_data <- read_csv2("student-mat.csv")
head(student_data)

Using ',' as decimal and '.' as grouping mark. Use read_delim() for more control.
Parsed with column specification:
cols(
  .default = col_character(),
  age = col_integer(),
  Medu = col_integer(),
  Fedu = col_integer(),
  traveltime = col_integer(),
  studytime = col_integer(),
  failures = col_integer(),
  famrel = col_integer(),
  freetime = col_integer(),
  goout = col_integer(),
  Dalc = col_integer(),
  Walc = col_integer(),
  health = col_integer(),
  absences = col_integer(),
  G1 = col_integer(),
  G2 = col_integer(),
  G3 = col_integer()
)
See spec(...) for full column specifications.

  school sex age address famsize Pstatus Medu Fedu Mjob     Fjob     ⋯ famrel
1 GP     F   18  U       GT3     A       4    4    at_home  teacher  ⋯ 4
2 GP     F   17  U       GT3     T       1    1    at_home  other    ⋯ 5
3 GP     F   15  U       LE3     T       1    1    at_home  other    ⋯ 4
4 GP     F   15  U       GT3     T       4    2    health   services ⋯ 3
5 GP     F   16  U       GT3     T       3    3    other    other    ⋯ 4
6 GP     M   16  U       LE3     T       4    3    services other    ⋯ 5
  freetime goout Dalc Walc health absences G1 G2 G3
1 3        4     1    1    3       6        5  6  6
2 3        3     1    1    3       4        5  5  6
3 3        2     2    3    3      10        7  8 10
4 2        2     1    1    5       2       15 14 15
5 3        2     1    2    5       4        6 10 10
6 4        2     1    2    5      10       15 15 15

In [3]:
new_data <- data.frame(student_data)
head(new_data)
dummy <- dummyVars("~ .", data = new_data)
dummy_data <- data.frame(predict(dummy, newdata = new_data))
head(dummy_data)

  school sex age address famsize Pstatus Medu Fedu Mjob     Fjob     ⋯ famrel
1 GP     F   18  U       GT3     A       4    4    at_home  teacher  ⋯ 4
2 GP     F   17  U       GT3     T       1    1    at_home  other    ⋯ 5
3 GP     F   15  U       LE3     T       1    1    at_home  other    ⋯ 4
4 GP     F   15  U       GT3     T       4    2    health   services ⋯ 3
5 GP     F   16  U       GT3     T       3    3    other    other    ⋯ 4
6 GP     M   16  U       LE3     T       4    3    services other    ⋯ 5
  freetime goout Dalc Walc health absences G1 G2 G3
1 3        4     1    1    3       6        5  6  6
2 3        3     1    1    3       4        5  5  6
3 3        2     2    3    3      10        7  8 10
4 2        2     1    1    5       2       15 14 15
5 3        2     1    2    5       4        6 10 10
6 4        2     1    2    5      10       15 15 15

  schoolGP schoolMS sexF sexM age addressR addressU famsizeGT3 famsizeLE3
1 1        0        1    0    18  0        1        1          0
2 1        0        1    0    17  0        1        1          0
3 1        0        1    0    15  0        1        0          1
4 1        0        1    0    15  0        1        1          0
5 1        0        1    0    16  0        1        1          0
6 1        0        0    1    16  0        1        0          1
  PstatusA ⋯ famrel freetime goout Dalc Walc health absences G1 G2 G3
1 1        ⋯ 4      3        4     1    1    3       6        5  6  6
2 0        ⋯ 5      3        3     1    1    3       4        5  5  6
3 0        ⋯ 4      3        2     2    3    3      10        7  8 10
4 0        ⋯ 3      2        2     1    1    5       2       15 14 15
5 0        ⋯ 4      3        2     1    2    5       4        6 10 10
6 0        ⋯ 5      4        2     1    2    5      10       15 15 15